* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* position: relative; */
}

body {
    margin: 0;
    font-family: "Gotham_Pro-normal";
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    min-height: 100%;
    height: auto;
    overflow: hidden;
    /* margin-bottom: 75px; */
}

.wrapper:after {
    /* content: ""; */
    display: block;
    /* height: 75px; */
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #27273e;
    min-height: 80px;
    margin: 0;
    position: absolute;
    border: 0;
}

.logo {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 50%;
    text-decoration: none;
}

.contacts {
    position: absolute;
    text-align: right;
    display: inline-block;
    right: 20px;
    top: 20px;
}

.contacts__number {
    display: block;
    margin-bottom: 2px;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.contacts__number:hover {
    text-decoration: underline;
}

.contacts__worktime {
    display: inline-block;
    font-weight: bold;
    color: #b12167;
    opacity: 0.7;
}

.ccontacts__worktime:hover {
    opacity: 1.0;
}


/* Здесь кончается header */


/* Сайдбар в левой части страницы */

.sidebar {
    width: 175px;
    position: relative;
    top: 100px;
    left: 20px;
    display: inline-block;
    font-family: "Gotham_Pro-bold";
}

.nav__item {
    margin-bottom: 34px;
}

.nav__item:last-child {
    margin-bottom: 0px;
}

.nav__link {
    display: inline-block;
    color: #ec1e79;
    text-decoration: none;
}

.nav__link--active {
    color: #525151;
    cursor: default;
}

.nav__icon {
    display: inline-block;
    width: 21px;
    height: 18px;
    margin-right: 20px;
    border: 0;
    vertical-align: middle;
}

.nav__trangle {
    background-image: url('../img/trangle-icon.png');
    background-repeat: no-repeat;
}

.nav__cash {
    background-image: url('../img/cash-icon.png');
    background-repeat: no-repeat;
}

.nav__star-icon {
    background-image: url('../img/star-icon.png');
    background-repeat: no-repeat;
}

.nav__link:hover .nav__icon--main {
    color: #525151;
}

.nav__link:hover .nav__icon--team {
    color: #525151;
}

.nav__link:hover .nav__icon--feed {
    color: #525151;
}

.nav__text {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    vertical-align: middle;
}

.nav__link:hover .nav__text {
    color: #525151;
}


/* Конец сайтбара */


/* Хлебные крошки */

.content {
    width: 880px;
}

.bread_crumbs {
    font-family: "Gotham_Pro-italic";
    font-size: 14px;
    display: inline;
    vertical-align: middle;
    position: relative;
    left: 200px;
    bottom: 30px;
}

.bread_crumbs-item {
    display: inline;
}

.bread_crumbs-link-passive {
    color: #f172a1;
}

.bread_crumbs-link-active {
    text-decoration: none;
    color: #525151;
}

.title {
    font-family: "Gotham_Pro-bold";
    font-size: 49px;
    display: block;
    position: relative;
    bottom: 40px;
    left: 200px;
}


/* Основноый контент */

.main {
    width: auto;
    margin: auto;
    display: inline-block;
    position: relative;
    left: 100px;
    bottom: 100px;
}

.items {
    display: block;
    text-align: center;
    width: 900px;
}

.items__block {
    width: 250px;
    height: 420px;
    display: inline-block;
    margin-right: 27px;
    margin-left: 10px;
    margin-bottom: -2px;
    vertical-align: text-top;
}

.items__table {
    width: 258px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    border: 1px solid #fff;
}

.items__img {
    width: 244px;
    height: 150px;
    margin: 0px auto 15px auto;
}


/* Картинки */

.items_img-jpg-1 {
    background-image: url('../img/1p.jpg');
    background-size: 250px 150px;
    background-repeat: no-repeat;
    position: relative;
}

.items_img-jpg-2 {
    background-image: url('../img/2p.jpg');
    background-size: 250px 150px;
    background-repeat: no-repeat;
    position: relative;
}

.items_img-jpg-3 {
    background-image: url('../img/3p.jpg');
    background-size: 250px 150px;
    background-repeat: no-repeat;
    position: relative;
}

.items_img-jpg-4 {
    background-image: url('../img/4p.jpg');
    background-size: 250px 150px;
    background-repeat: no-repeat;
    position: relative;
}

.items_img-jpg-5 {
    background-image: url('../img/5p.jpg');
    background-size: 250px 150px;
    background-repeat: no-repeat;
    position: relative;
}

.items_img-jpg-6 {
    background-image: url('../img/6p.jpg');
    background-size: 250px 150px;
    background-repeat: no-repeat;
    position: relative;
}


/* Описания блоков */

.items__price {
    font-size: 18.2px;
    font-family: "Gotham_Pro-bold";
}

.items__special {
    position: relative;
    color: #ec1e79;
    font-family: "Gotham_Pro-bold";
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 0;
    max-height: 1px;
}

.items__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-top: 68px;
    color: #5dd1f8;
    font-family: "Gotham_Pro-bold";
}

.clr_link {
    color: #fff;
    font-weight: 700;
}

.items__text {
    color: #221f1f;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin: 7px 0px;
}

.items__description {
    width: 260px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}


/* Псевоэлементы для наложения поверх картинки */

.items__title:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.items__special:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.items_img-jpg-1:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27273e;
    opacity: 0.9;
}

.items_img-jpg-2:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27273e;
    opacity: 0.9;
}

.items_img-jpg-3:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27273e;
    opacity: 0.9;
}

.items_img-jpg-4:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27273e;
    opacity: 0.9;
}

.items_img-jpg-5:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27273e;
    opacity: 0.9;
}

.items_img-jpg-6:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27273e;
    opacity: 0.9;
}


/* Конец основного контента */


/* Начало футера */

footer {
    width: 100%;
    display: inline-block;
    background-color: #27273e;
    box-sizing: border-box;
    font-family: "Gotham_Pro-normal";
}

.footer_items {
    display: inline-block;
    padding: 12px 0 0 19px;
    box-sizing: border-box;
    color: white;
    width: 239px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.git_link {
    text-decoration: none;
}


/* Лого ссылки и социалка футера */

.footer_logo {
    width: 400px;
    display: inline-block;
    text-align: center;
    vertical-align: super;
    display: inline-block;
}

.footer__logo-link {
    width: 156px;
    display: inline-block;
    text-align: left;
}

.footer_title {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
    font-family: "Gotham_Pro-bold";
    display: inline-block;
    position: relative;
    left: 840px;
    bottom: 60px;
}


/* Социальные сети */

.footer__social-vk,
.footer__social-fb,
.footer__social-tw,
.footer__social-Gp,
.footer__social-mail {
    background-color: #d4d4d8;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    display: inline-block;
}

.footer__social-vk:hover,
.footer__social-fb:hover,
.footer__social-tw:hover,
.footer__social-Gp:hover,
.footer__social-mail:hover {
    background-color: #ec1e79;
}

.footer__social-link {
    text-align: left;
}

.footer__social-vk {
    background-image: url(../img/vk.png);
}

.footer__social-fb {
    background-image: url(../img/fb.png);
}

.footer__social-tw {
    background-image: url(../img/twitter.png);
}

.footer__social-Gp {
    background-image: url(../img/google.png);
}

.footer__social-mail {
    background-image: url(../img/mail.png);
}

.footer__items-link {
    color: #ffffff;
}


/* Шрифты */

@font-face {
    font-family: "Gotham_Pro-normal";
    src: url("../font/GothaProLig.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham_Pro-bold";
    src: url("../font/GothaProBol.otf") format("truetype");
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "Gotham_Pro-italic";
    src: url("../font/GothaProLigIta.otf") format("truetype");
    font-style: italic;
    font-weight: italic;
}